body {
  padding: 25px;
  text-align: center; /* Ensures all text elements are centered */
}

  .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* Adjust spacing between the heart and text */
  font-size: 2em;
  font-weight: bold;
  color: #5C6AC4;
  text-align: center;
}

